.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
}

.App-content {
  min-width: 720px;
}

.grid {
  display: flex;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.dd {
  font-size: 32px;
  margin-left: 0;
}

.border-right {
  border-right: 3px solid black;
}
